<% content_for :top_content do %>
  <% if user_signed_in? %>
        <div class="jumbotron">
            <div class="container">
              <h1>Welcome! <%= current_user.first_name %></h1>
              <p>
                website Is Under Construction...!
              </p>
              <p>
                Please Check Back Soon.
              </p>
            </div>
          </div>
        <% else %>
          <div class="jumbotron">
            <div class="container">
              <h1>Welcome!</h1>
              <p>Register to get started.</p>
              <p>
                <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
              </p>
            </div>
          </div>
  <% end %>
  
<% end %>

